body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1 {
    color: #000000;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#loadingIndicator {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* Estilo para el contenedor de la tabla */
.table-container {
    width: 70%; /* Ancho del contenedor */
    height: 400px; /* Altura fija de la ventana */
    overflow: auto; /* Habilita barras de desplazamiento */
    border: 1px solid #dd5757; /* Borde opcional */
    margin: 20px auto; /* Centra horizontalmente el contenedor */
    padding: 10px; /* Espaciado interno */
    background-color: #f9f9f9; /* Fondo opcional */
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
