<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico Interactivo</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Procesamiento de Archivos</h1>
    <div>
        <label for="folderPicker">Selecciona una carpeta:</label>
        <input type="file" id="folderPicker" webkitdirectory directory multiple>
        <button id="processButton">Procesar Archivos</button>
        <span id="loadingIndicator" style="display:none;">🔄Procesando...</span>
    </div>

    <h2>Resultados Procesados</h2>
    <div class="table-container">
        <div id="tabla-resultado"></div>
    </div>

    <h2>Seleccione las Columnas</h2>
    <select id="Seleccionador" multiple></select>

    <h2>Seleccione las Variables X e Y</h2>
    <label for="variableX">Variable X:</label>
    <select id="variableX"></select>
    <label for="variableY">Variable Y:</label>
    <select id="variableY"></select>

    <h2>Gráfico Interactivo</h2>
    <div id="interactive-plot" style="border: 1px solid blue; height: 500px;"></div>

    <script src="/static/script.js"></script>
</body>
</html>
